<!-- Loading Modal -->
<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModal_label" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loadingModal_label">Projetando</h5>
            </div>
            <div class="modal-body text-center">
                <!-- replace the URL with the actual URL of your desired GIF -->
                <img src="{{ASSETS_ROOT}}/img/load-modal/loading.gif" height="30%" width="30%" alt="Projetando..." />
                <p>Não feche ou saia dessa janela!<br>O processamento pode durar de 15 minutos <br> até 1 hora por molécula...</p>
            </div>
        </div>
    </div>
  </div>